# Java / Maven
backend/target/
backend/*.log
backend/.mvn/
backend/pom.xml.tag
backend/pom.xml.releaseBackup
backend/pom.xml.versionsBackup
backend/pom.xml.next
backend/release.properties
backend/dependency-reduced-pom.xml
backend/buildNumber.properties

# Node / React (para o futuro frontend)
frontend/node_modules/
frontend/.pnp
frontend/.pnp.js
frontend/coverage/
frontend/build/
frontend/.DS_Store
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Configurações de IDE
.idea/
*.iml
.vscode/